<!DOCTYPE html>
<html lang="en" xmlns:th = "https://www.thymeleaf.or" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>View</title>
</head>
<body>
<h3>View user</h3>
<table>
    <thead>
    <tr>
        <th>Username</th>
        <th>Email</th>
    </tr>
    </thead>
    <tbody>
        <tr th:each="user : ${users}">
            <td><span th:text="${user.username}">Username</span></td>
            <td><span th:text="${user.email}">Email</span></td>
        </tr>
    </tbody>
</table>
<a th:href="@{/view-create}"><h3>Add user</h3></a>
</body>
</html>